node_modules/
.cache/
public
.env.*
node_modules

# Truffle
# Ignore everything in the smart-contracts/build/contracts directory
smart-contracts/build/contracts/*
smart-contracts/.env

# Do not ignore the ProjectVoting.json file
!smart-contracts/build/contracts/Feedback.json


# Local Netlify folder
.netlify
/content/projects/*.md
